
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
.container-content {
  padding: 100px 90px 0;
  overflow: auto;
  font-family: "Open Sans";
  font-size: 16px;
}
.card-content {
  position: fixed;
  left: 0;
  top: 60px;
  height: 0;
  width: 0;
  background: #eee;
  transition: width 0.8s, height 0.8s, opacity 0.8s;
  z-index: -9999;
  opacity: 0;
}
.card-content_header {
  height: 100px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.content-category {
  position: absolute;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 50px;
}
.content-title {
  color: #003399;
  font-weight: bold;
  font-size: 55px;
  margin-left: 550px;
}
.glyphicon-remove-sign {
  color: #003399; 
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  font-size: 20px;
}
.card-content_passage {
  width: 800px;
  margin: auto;
}
.content-article_header {
  margin: 10px 0;
  display: inline-block;
}
.content-date {
  font-size: 15px;
  float: right;
  margin-top: 5px;
  margin-left: 100px;
  color: #b4b4b4;
}
.content-article p {
  color: #172744;
}
.praise{
  width:40px;
  height:40px;
  margin: 50px auto;
  cursor: pointer;
  font-size: 12px;
  text-align:center;
  position: relative;
}
.praise_icon{
display:block;
width:40px;
height:40px;
margin:0 auto;
}
.praise-txt{
height:25px;
line-height:25px;
display: block;
color: #172744;
}
.praise_icon img{
width:40px;
height:40px;
display:block;
margin: 0 auto;
}
.praise_icon img.animation{
animation: myfirst 0.5s;
}
.add-num{
display:none;
}
.add-num .addAnimation{
color: #000;
position:absolute;
top:-15px;
left: 10px;
font-size: 15px;
opacity: 0;
filter: Alpha(opacity=0);
-moz-opacity:0;
animation: mypraise 0.5s ;
font-style:normal;
}
.praise .hover , .add-num .addAnimation.hover , .praise-txt.hover{
color: #eb4f38;
}
@keyframes myfirst
{
    0%{
        width:40px;
        height:40px;
    }
    50%{
        width:50px;
        height:50px;
    }
    100% {
        width:40px;
        height:40px;
    }
}
@keyframes mypraise
{
  0%{
      top:-15px;
      opacity: 0;
      filter: Alpha(opacity=0);
      -moz-opacity:0;
  }
  25%{
      top:-20px;
      opacity: 0.5;
      filter: Alpha(opacity=50);
      -moz-opacity:0.5;
  }
  50%{
      top:-25px;
      opacity: 1;
      filter: Alpha(opacity=100);
      -moz-opacity:1;
  }
  75%{
      top:-30px;
      opacity: 0.5;
      filter: Alpha(opacity=50);
      -moz-opacity:0.5;
  }
  100% {
      top:-35px;
      opacity: 0;
      filter: Alpha(opacity=0);
      -moz-opacity:0;
  }
}
