<div class="container-food">
	<div class="container-content">
		<article id="{{item.cardid}}" class="card" ng-repeat="item in cardInfo track by $index">
			<div class="mask">
				<header class="card__thumb" ng-click="showarticle($event)">
					<a class="js-expand"><img ng-src="{{item.img}}"/></a>
				</header>
				<date class="card__date"  style="background-color:{{item.color}};">
					<span class="card__date__day">{{item.date}}</span>
					<br/>
					<span class="card__date__month">{{item.month}}</span>
				</date>
				<div class="card__body">
					<div class="card__category" style="background-color:{{item.color}};">
						<a href="#">{{item.category}}</a>
					</div>
					<h2 class="card__title">{{item.title}}</h2>
					<div class="card__subtitle" style="color:{{item.color}};">{{item.subtitle}}</div>
					<p class="card__description">{{item.description}}</p>
				</div>
				<footer class="card__footer">
					<span class="icon ion-clock"></span>
					<span>{{item.time}}</span>
					<span class="icon glyphicon glyphicon-thumbs-up" style="color: #a3a9a2;"></span><span style="font-size: 11px;margin-left: 3px;">{{item.praiseNum}}</span>
				</footer>
			</div>
			<div class="card-content js-card-content" >
				<div class="card-content_header">
					<span class="content-title">{{item.title}}</span>
					<span class="glyphicon glyphicon-remove-sign" ng-click="hidearticle($event)"></span>
				</div>
				<div class="card-content_passage">
					<section class="content-article">
						<div class="content-article_header"><div class="content-category" style="color:{{item.color}};border: 1px solid {{item.color}};">{{item.category}}</div><date class="content-date">{{item.month}}/{{item.date}}</date></div>
						<br><br>
						<p>{{item.article}}</p>
					</section>
				</div>
				<div class="card-content_footer">
					<div class="praise" ng-class="{true:'praise_red', false:'praise_grey'}">
						<span class="praise_icon" ng-click="praiseit($event, $index)">
							<img ng-src="{{item.notPraise}}" ng-class="{animation: item.isAnimation}">
						</span>
						<span class="praise-txt" ng-class="{hover: item.isHover}">{{item.praisenum}}</span>
						<span class="add-num" style="display: inline;">
							<em  ng-class="{addAnimation: item.isHovers, hover: item.isHoverss}">{{item.addpraise}}</em>
						</span>
					</div>
					<!-- <div class="praise" ng-class="{}">
						<span class="praise_icon" ng-click="unpraiseit($event, $index)">
							<img ng-src="{{item.isPraise}}" class="praise-img">
						</span>
						<span class="praise-txt">{{item.praisenum}}</span>
						<span class="add-num" style="display: inline;">
							<em class="add-animation">{{item.deletepraise}}</em>
						</span>
					</div> -->
				</div>
			</div>
		</article>
	</div>
	<div class="container-page">
		<ul class="page">
    		<li><a class="step prevLink" ng-click="prevPage()">«</a></li>
 			<li><a ng-class="{true:'currentStep',false:'step'}[num==currentPage]" ng-repeat="num in pageNum" ng-click="setPage(num)">{{num+1}}</a></li>
  			<li><a class="step nextLink" ng-click="nextPage()">»</a></li>
	    </ul>
    </div>
</div>